<div class="container">

    <h1>{{ title }}</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>LVL</th>
            <th>Exp</th>
            <th>Stamina</th>
        </tr>
        <tr ng-repeat="usr in user">
            <td>{{usr.Character_Name}}</td>
            <td>{{usr.Health}}</td>
            <td>{{usr.Att}}</td>
            <td>{{usr.Def}}</td>
            <td>{{usr.LVL}}</td>
            <td>{{usr.EXP}}</td>
            <td>{{usr.Stamina}}</td>
        </tr>
        <tr>

        </tr>
    </table>
    <br>
    <h3 ng-bind="msg"></h3>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Mission</th><th>Description</th><th>EXP Reward</th><th>Stamine Cost</th><th>Difficulty</th><th></th>
        </tr>
        <tr ng-repeat="mission in missions | filter: query">
            <td class="table-striped-mn">{{ mission.Name }}</td>
            <td class="table-striped-md">{{ mission.Description }}</td>
            <td>{{ mission.EXP_Reward }}</td>
            <td>{{ mission.Stamina_Costs }}</td>
            <td>{{mission.Difficulty}}</td>
            <td><button class="btn btn-mission" ng-click="MainMission(mission)">Accept Mission</button></td>
        </tr>
    </table>
</div>