<div class="container" ng-model="data">
    <h1>{{ title }}</h1>
    <table class="table multiplayer-table">
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Defense</th>
            <th>Power</th>
            <th>Level</th>
            <th>Stamina</th>
            <th>Exp</th>
        </tr>
        <tr ng-repeat="usr in user">
            <td>{{ usr.Character_Name }}</td>
            <td>{{ usr.Health }}</td>
            <td>{{ usr.Def }}</td>
            <td>{{ usr.Att }}</td>
            <td>{{ usr.LVL }}</td>
            <td>{{ usr.Stamina}}</td>
            <td>{{ usr.EXP}}</td>
        </tr>
    </table>

    <br>
    <input type="search" ng-model="query" placeholder="Search Player" class="form-control">
    <br>
    <table class="table multiplayer-table">
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Defense</th>
            <th>Power</th>
            <th>Level</th>
            <th>Battle</th>
        </tr>
        <tr ng-repeat="character in characters | filter: query">
            <td>{{ character.Character_Name }}</td>
            <td>{{ character.Health }}</td>
            <td>{{ character.Def }}</td>
            <td>{{ character.Att }}</td>
            <td>{{ character.LVL }}</td>
            <td><button class="btn btn-danger" ng-click="updateData(character, data)">Attack</button></td>
        </tr>
    </table>

</div>